/*	Reset
	------------------	*/

html {margin:0;padding:0;border:0;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; }
article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video { display: block; }
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}


/*	Grid
	------------------	*/

.container {width: 950px; margin: 0 auto; }
.flexible_container { width: 950px; margin: 0 auto; }
@media screen and (min-width: 1188px) { .flexible .flexible_container { width: 1188px; margin: 0 auto; } }
@media screen and (min-width: 1425px) {	.flexible .flexible_container { width: 1425px; margin: 0 auto; } }
@media screen and (min-width: 1663px) {	.flexible .flexible_container { width: 1663px; margin: 0 auto; } }
@media screen and (min-width: 1900px) {	.flexible .flexible_container { width: 1900px; margin: 0 auto; } }
@media screen and (min-width: 2138px) {	.flexible .flexible_container { width: 2138px; margin: 0 auto; } }
@media screen and (min-width: 2375px) {	.flexible .flexible_container { width: 2375px; margin: 0 auto; } }
@media screen and (min-width: 2613px) {	.flexible .flexible_container { width: 2613px; margin: 0 auto; } }

@media screen and (min-width: 1188px) { .flexible_max1900 .flexible_container { width: 1188px; margin: 0 auto; } }
@media screen and (min-width: 1425px) {	.flexible_max1900 .flexible_container { width: 1425px; margin: 0 auto; } }
@media screen and (min-width: 1663px) {	.flexible_max1900 .flexible_container { width: 1663px; margin: 0 auto; } }
@media screen and (min-width: 1188px) { .flexible_max1900 .flexible_container { width: 1900px; margin: 0 auto; } }

.showgrid {background:url(src/grid.png);}
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {float:left;margin-right:10px;}
.last {margin-right:0;}
.span-1 {width:30px;}
.span-2 {width:70px;}
.span-3 {width:110px;}
.span-4 {width:150px;}
.span-5 {width:190px;}
.span-6 {width:230px;}
.span-7 {width:270px;}
.span-8 {width:310px;}
.span-9 {width:350px;}
.span-10 {width:390px;}
.span-11 {width:430px;}
.span-12 {width:470px;}
.span-13 {width:510px;}
.span-14 {width:550px;}
.span-15 {width:590px;}
.span-16 {width:630px;}
.span-17 {width:670px;}
.span-18 {width:710px;}
.span-19 {width:750px;}
.span-20 {width:790px;}
.span-21 {width:830px;}
.span-22 {width:870px;}
.span-23 {width:910px;}
.span-24 {width:950px;margin-right:0;}
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20, input.span-21, textarea.span-21, input.span-22, textarea.span-22, input.span-23, textarea.span-23, input.span-24, textarea.span-24 {border-left-width:1px;border-right-width:1px;padding-left:5px;padding-right:5px;}
input.span-1, textarea.span-1 {width:18px;}
input.span-2, textarea.span-2 {width:58px;}
input.span-3, textarea.span-3 {width:98px;}
input.span-4, textarea.span-4 {width:138px;}
input.span-5, textarea.span-5 {width:178px;}
input.span-6, textarea.span-6 {width:218px;}
input.span-7, textarea.span-7 {width:258px;}
input.span-8, textarea.span-8 {width:298px;}
input.span-9, textarea.span-9 {width:338px;}
input.span-10, textarea.span-10 {width:378px;}
input.span-11, textarea.span-11 {width:418px;}
input.span-12, textarea.span-12 {width:458px;}
input.span-13, textarea.span-13 {width:498px;}
input.span-14, textarea.span-14 {width:538px;}
input.span-15, textarea.span-15 {width:578px;}
input.span-16, textarea.span-16 {width:618px;}
input.span-17, textarea.span-17 {width:658px;}
input.span-18, textarea.span-18 {width:698px;}
input.span-19, textarea.span-19 {width:738px;}
input.span-20, textarea.span-20 {width:778px;}
input.span-21, textarea.span-21 {width:818px;}
input.span-22, textarea.span-22 {width:858px;}
input.span-23, textarea.span-23 {width:898px;}
input.span-24, textarea.span-24 {width:938px;}
.append-1 {padding-right:40px;}
.append-2 {padding-right:80px;}
.append-3 {padding-right:120px;}
.append-4 {padding-right:160px;}
.append-5 {padding-right:200px;}
.append-6 {padding-right:240px;}
.append-7 {padding-right:280px;}
.append-8 {padding-right:320px;}
.append-9 {padding-right:360px;}
.append-10 {padding-right:400px;}
.append-11 {padding-right:440px;}
.append-12 {padding-right:480px;}
.append-13 {padding-right:520px;}
.append-14 {padding-right:560px;}
.append-15 {padding-right:600px;}
.append-16 {padding-right:640px;}
.append-17 {padding-right:680px;}
.append-18 {padding-right:720px;}
.append-19 {padding-right:760px;}
.append-20 {padding-right:800px;}
.append-21 {padding-right:840px;}
.append-22 {padding-right:880px;}
.append-23 {padding-right:920px;}
.prepend-1 {padding-left:40px;}
.prepend-2 {padding-left:80px;}
.prepend-3 {padding-left:120px;}
.prepend-4 {padding-left:160px;}
.prepend-5 {padding-left:200px;}
.prepend-6 {padding-left:240px;}
.prepend-7 {padding-left:280px;}
.prepend-8 {padding-left:320px;}
.prepend-9 {padding-left:360px;}
.prepend-10 {padding-left:400px;}
.prepend-11 {padding-left:440px;}
.prepend-12 {padding-left:480px;}
.prepend-13 {padding-left:520px;}
.prepend-14 {padding-left:560px;}
.prepend-15 {padding-left:600px;}
.prepend-16 {padding-left:640px;}
.prepend-17 {padding-left:680px;}
.prepend-18 {padding-left:720px;}
.prepend-19 {padding-left:760px;}
.prepend-20 {padding-left:800px;}
.prepend-21 {padding-left:840px;}
.prepend-22 {padding-left:880px;}
.prepend-23 {padding-left:920px;}
.border {padding-right:4px;margin-right:5px;border-right:1px solid #222;}
.preborder {padding-left:4px; margin-left: -5px; border-left:1px solid #222;}
.colborder {padding-right:24px;margin-right:25px;border-right:1px solid #222;}
.precolborder {padding-left:15px;margin-left:34px;border-left:1px solid #232323;}

.clearfix:after, .group:after, .container:after, .flexible_container:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix, .group, .container {display:inline-block;}
* html .clearfix, * html .group, * html .container, * html .flexible_container {height:1%;}
.clearfix, .group, .container, .flexible_container {display:block;}
.clear {clear:both;}


/*	Grid (relative)
	------------------	*/

.line:after,.lastUnit:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}
.line{*zoom:1;}
.unit{float:left;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.lastUnit{display:table-cell;float:none;width:auto;*display:block;*zoom:1;_position:relative;_left:-3px;_margin-right:-3px;}



/*	Spacing & Adjustements
	------------------	*/

.pa1{padding:1px !important}
.pa2{padding:2px !important}
.pa3{padding:3px !important}
.pa4{padding:4px !important}
.ptn,.pvn,.pan{padding-top:0px !important}
.pts,.pvs,.pas{padding-top:5px !important}
.ptm,.pvm,.pam{padding-top:10px !important}
.ptl,.pvl,.pal{padding-top:15px !important}
.ptxl,.pvxl,.paxl{padding-top:30px !important}
.prn,.phn,.pan{padding-right:0px !important}
.prs,.phs,.pas{padding-right:5px !important}
.prm,.phm,.pam{padding-right:10px !important}
.prl,.phl,.pal{padding-right:15px !important}
.prxl,.phxl,.paxl{padding-right:30px !important}
.prxxl,.phxxl,.paxxl{padding-right:60px !important}
.pbn,.pvn,.pan{padding-bottom:0px  !important}
.pbs,.pvs,.pas{padding-bottom:5px !important}
.pbm,.pvm,.pam{padding-bottom:10px !important}
.pbl,.pvl,.pal{padding-bottom:15px !important}
.pbxl,.pvxl,.paxl{padding-bottom:30px !important}
.pln,.phn,.pan{padding-left:0px !important}
.pls,.phs,.pas{padding-left:5px !important}
.plm,.phm,.pam{padding-left:10px !important}
.pll,.phl,.pal{padding-left:15px !important}
.plxl,.phxl,.paxl{padding-left:30px !important}
.plxxl,.phxxl,.paxxl{padding-left:60px !important}
.mtn,.mvn,.man{margin-top:0px !important}
.mts,.mvs,.mas{margin-top:5px !important}
.mtm,.mvm,.mam{margin-top:10px !important}
.mtl,.mvl,.mal{margin-top:15px !important}
.mtxl,.mvxl,.maxl {margin-top:30px !important}
.mtxxl,.mvxxl,.maxxl {margin-top:60px !important}
.mtxxxl,.mvxxxl,.maxxxl {margin-top:90px !important}
.mrn,.mhn,.man{margin-right:0px !important}
.mrs,.mhs,.mas{margin-right:5px !important}
.mr2,.mh2,.ma2{margin-right:2px !important}
.mrm,.mhm,.mam{margin-right:10px !important}
.mrl,.mhl,.mal{margin-right:15px !important}
.mrxl,.mhxl,.maxl{margin-right:30px !important}
.mbn,.mvn,.man{margin-bottom:0px !important}
.mbs,.mvs,.mas{margin-bottom:5px !important}
.mbm,.mvm,.mam{margin-bottom:10px !important}
.mbl,.mvl,.mal{margin-bottom:15px !important}
.mbxl,.mvxl,.maxl{margin-bottom:30px !important}
.mbxxl,.mvxxl,.maxxl{margin-bottom:60px !important}
.mbxxxl,.mvxxxl,.maxxxl{margin-bottom:90px !important}
.mln,.mhn,.man{margin-left:0px !important}
.mls,.mhs,.mas{margin-left:5px !important}
.mlm,.mhm,.mam{margin-left:10px !important}
.mll,.mhl,.mal{margin-left:15px !important}
.mlxl,.mhxl,.maxl{margin-left:30px !important}
.ml3 {margin-left: 3px; }

.if1 { font-size: 1.1em; }
.if2 { font-size: 1.2em; }
.if3 { font-size: 1.3em; }
.if4 { font-size: 1.4em; }
.if5 { font-size: 1.5em; }
.if6 { font-size: 1.6em; }
.if7 { font-size: 1.7em; }
.if8 { font-size: 1.8em; }
.if9 { font-size: 1.9em; }
.if10 { font-size: 2em; }
.if11 { font-size: 2.1em; }
.df1 { font-size: 0.9em; }
.df2 { font-size: 0.8em; }
.df3 { font-size: 0.7em; }
.df4 { font-size: 0.6em; }
.df5 { font-size: 0.5em; }
.df6 { font-size: 0.4em; }
.df7 { font-size: 0.3em; }
.df8 { font-size: 0.2em; }
.df9 { font-size: 0.1em; }

.pu1, .au1 { position: relative; bottom: 1px; }
.pu2, .au2 { position: relative; bottom: 2px; }
.pu3, .au3 { position: relative; bottom: 3px; }
.pu4, .au4 { position: relative; bottom: 4px; }
.pu5, .au5 { position: relative; bottom: 5px; }
.pd1, .push_down_1, .ad1 { position: relative; top: 1px; }
.pd2, .push_down_2, .ad2 { position: relative; top: 2px; }
.pd3, .push_down_3, .ad3 { position: relative; top: 3px; }
.pd4, .push_down_4, .ad4 { position: relative; top: 4px; }
.pd5, .push_down_5, .ad5 { position: relative; top: 5px; }
.pd6, .push_down_6, .ad6 { position: relative; top: 6px; }
.pd7, .push_down_7, .ad7 { position: relative; top: 7px; }
.pd8, .push_down_8, .ad8 { position: relative; top: 8px; }
.pd9, .push_down_9, .ad9 { position: relative; top: 9px; }
.pd10, .push_down_10, .ad10 { position: relative; top: 10px; }
.ar1 { position: relative; left: 1px; }
.ar2 { position: relative; left: 2px; }
.ar3 { position: relative; left: 3px; }
.ar4 { position: relative; left: 4px; }
.ar5 { position: relative; left: 5px; }
.al1 { position: relative; right: 1px; }
.al2 { position: relative; right: 2px; }
.al3 { position: relative; right: 3px; }
.al4 { position: relative; right: 4px; }
.al5 { position: relative; right: 5px; }

.smh500 { min-height: 500px;}
.smh1000 { min-height: 1000px;}


/*	Body
	------------------	*/

body {
	background-color: #1B1B1B;
	color: #DDD;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	font-weight: normal;
}


/*	Font Face
	------------------	*/

@font-face {
	font-family: 'Pictos';
	src: url('/fonts/pictos-web.eot');
	src: local('â˜º'), url('/fonts/pictos-web.woff') format('woff'), url('/fonts/pictos-web.ttf') format('truetype'), url('/fonts/pictos-web.svg#webfontIyfZbseF') format('svg');
	font-weight: normal;
	font-style: normal;
}
.picto { font-family: 'Pictos'; line-height: 0; }
	.no-fontface .picto { display: none; visibility: none; }
.picto_alt { display: none; visibility: none; }
	.no-fontface .picto_alt { display: inline-block; visibility: visible; }

.ffg { font-family: Georgia; }
.ffd { font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif; }


/*	Headers
	------------------	*/

.logo {
	font-family: Georgia;
	font-weight: normal;
	text-align: center;
	font-size: 26px;
	text-align: center;
	color: #555;
	text-shadow: 0 -2px 0px #111;
	letter-spacing: -1px;
}

h1, .h1 {
	color: #D00;
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	text-shadow: black 0px -2px 0px;
	font-family: Georgia;
	letter-spacing: 0px;
}


h2, .h2 {
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 32px;
	line-height: 42px;
	color: #A00;
	font-weight: bold;
	letter-spacing: -1px;
}

h3, .h3 {
	margin: 0;
	padding: 0;
	font-size: 26px;
	line-height: 26px;
	color: #777;
	font-weight: normal;
	letter-spacing: -1px;
	text-shadow: black 0px -1px 0px;
}
	.h3 .filter {
		font-size: 18px;
		letter-spacing: 0px;
		color: #555;
	}

h4, .h4 {
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 14px;
	line-height: 14px;
	color: #777;
	font-weight: normal;
	letter-spacing: 0px;
}

h5, .h5 {
	margin: 0 0 2px 0;
	padding: 0;
	font-size: 11px;
	line-height: 11px;
	color: #777;
	font-weight: normal;
	letter-spacing: 0px;
	text-transform: uppercase;
}


h4, .h4 {
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 14px;
	line-height: 14px;
	color: #777;
	font-weight: normal;
	letter-spacing: 0px;
}

h5, .h5 {
	margin: 0 0 2px 0;
	padding: 0;
	font-size: 11px;
	line-height: 11px;
	color: #777;
	font-weight: normal;
	letter-spacing: 0px;
	text-transform: uppercase;
}

.sub_profile_header {
	color: #D00;
	font-size: 22px;
	letter-spacing: 0px;
	line-height: 22px;
	margin-bottom: 0;
}


/*	Content
	------------------	*/

p {margin:0 0 1em 0;}
a { color: #DDD; }
a:hover, a:focus { background-color: #111; }

blockquote { display: block; margin:0 1em 1em 1em; color:#AAA; font-style:italic;}

.b { font-weight: bold; }
.nb { font-weight: normal; }
.i { font-style: italic; }

.u { text-decoration: underline; }
a.un, a.tdn, a.unh { text-decoration: none; }
a.un:hover, a.tdn:hover { text-decoration: underline; }
a.unh:hover { text-decoration: none; }
	.un a, .unh a { text-decoration: none; }
	.un a:hover, .tdn a:hover { text-decoration: underline; }
	.unh a:hover { text-decoration: none; }

.q { color: #777; }
	.q a { color: #777; }
.qn { color: #DDD !important; }
	.qn a { color: #DDD; }
.xq { color: #555;}
	.xq a { color: #555;}

.c900 { color: #900; }

.ttu { text-transform: uppercase; }
.ttn { text-transform: none; }

.l { font-size: 15px; }
.xl { font-size: 16px; }
.xxl { font-size: 17px; }
.xxxl { font-size: 18px; }
.xxxxl { font-size: 19px; }
.s, .small { font-size: 13px; }
.xs { font-size: 12px; line-height: 17px; }
.xxs { font-size: 11px; }
.xxxs { font-size: 10px; }

.lhn { line-height: 1em; }
.lh1 { line-height: 1.1em; }
.lh2 { line-height: 1.2em; }
.lh3 { line-height: 1.3em; }
.lh4 { line-height: 1.4em; }
.lh5 { line-height: 1.5em; }
.lh6 { line-height: 1.6em; }
.lh7 { line-height: 1.7em; }
.lh8 { line-height: 1.8em; }
.lh9 { line-height: 1.9em; }
.lh20 { line-height: 2em; }
.lh21 { line-height: 2.1em; }
.lh22 { line-height: 2.2em; }
.lh23 { line-height: 2.3em; }
.lh24 { line-height: 2.4em; }
.lh25 { line-height: 2.5em; }

.nowrap { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
	.nowrap.nwq { color: #777; }
.wordwrap { word-wrap: break-word; }
.overellipsis {overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.amp { font-family: Baskerville, Palatino, "Book Antiqua", serif; font-style: italic; }

.dfb { font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif; }

kbd {
  font-family: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
	text-shadow: #000 1px 1px 0;
	background-color: #333; padding: 0px 5px; margin-right: 2px;
	-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
	line-height: 1em;
}
.amp {
    font-family: Baskerville, Palatino, "Book Antiqua", serif !important;
    font-style: italic;
    font-weight: normal !important;
}

.count {
	display: inline-block;
	background-color: #700;
	padding: 1px 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #DDD;
	line-height: 1em;
}

.cr, .r { color: #A00; }
.cr a, .r a { color: #A00; }
.cg { color: #070; }


.inlove { color: #D00; }

.highlight_nickname { background-color: #606; display: inline-block; padding: 1px 5px; }
.highlight { background-color: #606; }

/* ON HOVER */
.on_hover {}
	.on_hover .show_hidden { display: none; }
	.on_hover:hover .show_hidden { display: inline-block; }

.on_hover2 {} /* CREATED FOR WHEN I CREATE AN on_hover in an on_hover ex. IM */
	.on_hover2 .show_hidden2 { display: none; }
	.on_hover2:hover .show_hidden2 { display: inline-block; }


/*	Background
	------------------	*/

.bct { background-color: transparent !important; }
.bcq { background-color: #272727; }
a.bcq:hover { background-color: #111; }
.bcxq { background-color: #111; }
a.bcxq:hover { background-color: #000; }


/*	Tables
------------------	*/

table { width: 100%; }


/* 	Lists
------------------	*/

ul { margin: 0 1.5em; }

ul.bl li { color: #555; }
	ul.bl li span { color: #DDD; }

ul.no_bullets, ul.nb {
	list-style: none;
	margin: 0;
	padding: 0;
}
	ul.no_bullets li, ul.nb li { color: #DDD !important; }


ul.hor li { display: inline; }

nav.hl {}
	nav.hl a.un:hover { text-decoration: none; }
	nav.hl.feeds ul, nav.hl.feeds div { width: 135px;}
	nav.hl ul {}

	nav.hl .selected { background-color: #000; }
	nav.hl li { margin: 0 -10px 0 -5px; }
		nav.hl li a { color: #AAA; padding: 2px 10px 2px 5px; }
		nav.hl li a:hover { background-color: #000; }

	nav.hl .sub li { margin: 0; }
		nav.hl .sub li a { margin: 0 -14px 0 0; color: #777; }
		nav.hl .sub li a:hover { background-color: #222; }
		nav.hl .sub .selected { font-weight: bold; background-color: transparent; }

	nav.hl hr { width: 135px; }


/* .shl secondary horizontal list */
ul.shl { border-top: 1px dotted #333; }
	ul.shl li { border-bottom: 1px dotted #333; }
		ul.shl li a {
			display: block;
			padding: 5px;
		}



/*	Position,
		Alignment,
		Floating
	------------------	*/

.ac { text-align: center; }
.al { text-align: left; }
.ar { text-align: right; }

.vat { vertical-align: top; }
.vam { vertical-align: middle; }
.vab { vertical-align: bottom; }

.fl { float: left; }
.fr { float: right; }

.pr { position: relative; }
.pa { position: absolute; }

.di { display: inline; }
.dib { display: inline-block; }
.db { display: block; }
.dbb { width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }

hr { border-top: 1px solid #111; border-bottom: 1px solid #222; }
.hide, .hidden { display: none; visibility: hidden; }
.vhide, .vhidden {visibility:hidden !important;}
.load-hidden { display: none; }

.new_stories_marker { position: relative; color: #555; text-shadow: 0 1px 0px #222; }
	.new_stories_marker .picto { position: absolute; top: 13px; right: -7px; -webkit-transform:rotate(270deg); font-size: 11px;}
	.new_stories_marker .label { position: absolute; top: 6px; right: -32px; text-transform: uppercase; font-size: 11px;}


/*	Rounded Corners
	------------------	*/

.rcn {-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;}
.rcs {-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.rcm {-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.rcl {-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;}

.rcts {
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-top-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
}
.rcbs {
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-top-bottom-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;

}


/*	Pictures & Videos
	------------------	*/

a img { vertical-align: sub; }
a:hover img { background-color: #000; }

.avatar, .picture { padding: 4px; background-color: #171717; }
	.avatar.s15, .picture.s15 { width: 15px; height: 15px; padding: 2px; }
	.avatar.s20, .picture.s20 { width: 20px; height: 20px; padding: 2px; }
	.avatar.s25, .picture.s25 { width: 25px; height: 25px; padding: 2px; }
	.avatar.s30, .picture.s30 { width: 30px; height: 30px; padding: 3px; }
	.avatar.s32, .picture.s32 { width: 32px; height: 32px; padding: 3px; }
	.avatar.s35, .picture.s35 { width: 35px; height: 35px; padding: 3px; }
	.avatar.s40, .picture.s40 { width: 40px; height: 40px; padding: 3px;}
	.avatar.s45, .picture.s45 { width: 45px; height: 45px; padding: 3px;}
	.avatar.s50, .picture.s50 { width: 50px; height: 50px; }
	.avatar.s60, .picture.s60 { width: 60px; height: 60px; }
	.avatar.s80, .picture.s80 { width: 80px; height: 80px; }
	.avatar.s90, .picture.s90 { width: 90px; height: 90px; }
	.avatar.s160, .picture.s160 { width: 160px; padding: 5px; }
	.avatar.s165, .picture.s165 { width: 165px; padding: 5px; }
	.avatar.s167, .picture.s167 { width: 167px; padding: 5px; }
	.avatar.s168, .picture.s250 { width: 250px; padding: 5px; }

.content.mls10 { margin-left: 18px;}
.content.mls30 { margin-left: 41px;}
.content.mls35 { margin-left: 46px;}
.content.mls40 { margin-left: 51px;}
.content.mls45 { margin-left: 56px;}
.content.mls60 { margin-left: 73px;}
.content.mls90 { margin-left: 101px;}

.video_sg { padding: 4px; background-color: #171717; width: 107px; height: 60px; }
	.video_sg.sw25 { width: 33px; height: 25px; padding: 2px; }
	.video_sg.s30 { width: 54px; height: 30px; padding: 3px; }
	.video_sg.s35 { width: 63px; height: 35px; padding: 3px; }
	.video_sg.s50 { width: 66px; height: 50px; padding: 3px; }
	.video_sg.s80 { width: 106px; height: 80px; padding: 3px; }

	.for_video_sg {
		position: absolute;
		left: -78px;
		top: 19px;
		font-size: 40px; line-height: 40px;
		color: rgba(221,221,221,0.7);
		text-decoration: none;
	}
		a:hover .for_video_sg { color: rgba(221,221,221,.9); }
		.for_video_sg.s35 {
			left: -45px;
			top: 13px;
			font-size: 22px; line-height: 22px;
		}
		.for_video_sg.s50 {
			left: 28px;
			top: 17px;
			font-size: 26px; line-height: 26px;
		}
		.for_video_sg.s80 {
			left: 45px;
			top: 26px;
			font-size: 36px; line-height: 36px;
		}
		.for_video_sg.s256 {
			left: 105px;
			top: 96px;
			font-size: 80px; line-height: 80px;
		}

.devil_heart {}
	.devil_heart.inline { width: 12px; height: 13px; }


/*	FORMS
	------------------	*/

form.open p, .closed p, form.one_size p { background-color: #171717; padding: 5px; margin: 0; }
	.icomment form.open p, .icomment form.closed p { padding: 0; background-color: inherit; }

form textarea {
	width: 486px;
	height: 48px;
	margin: 0;
}
	form.closed textarea {
		height: 19px;
		color: #888;
	}
		.icomment form.closed textarea { height: 26px; font-size: 13px; }
	form.open textarea { height: 48px; }
	form.open.rows2 textarea { height: 48px; }
	form.open.rows3 textarea { height: 56px; }
	form.open.rows4 textarea { height: 84px; }
	form.one_size textarea { height: 36px; }


form.closed .submit { display: none; }
form.open .submit { display: block; padding-top: 0px; }
form.open .other_options { display: none; }
/* 37s base for webkit */

input[type=text], textarea {
  border: 1px solid #111;
  padding: 5px 5px 3px 5px;
	margin: 0;
  font-size: 14px;
  line-height: 1.3em;
  background: #323232;
  color: #DDD;
  font-family: helvetica, sans-serif;
  -webkit-appearance: none;
}
::-webkit-input-placeholder { color: #888 }
input:-moz-placeholder { color: #888; }

textarea {
	height: 55px;
	overflow: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
}

input[type=text], textarea { background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.12, #333)); }


/*	Comments
	------------------	*/

.comments { border-bottom: 1px solid #222; }
.comment {
	position: relative;
	border-top: 1px solid #222;
	padding: 10px 5px;
}
	.comment .avatar { float: left; margin: 0 5px 0 0; }
	.comment p { margin-left: 73px; }
	.comment p:last-child { margin-bottom: 0; }

	.comment .reply {
		display: none;
		position: absolute;
		bottom: 10px;
		right: 5px;
		z-index: 2;
	 }
	.comment:hover .reply, .touch .comment .reply { display: inline-block; }

.icomments { border-bottom: 1px solid #2A2A2A; }
.icomment { padding: 5px; background-color: #222; border-top: 1px solid #2A2A2A; }


/*	List of Likes
	------------------	*/

.list_of_likes {
	padding: 5px;
	border-bottom: 1px solid #222;
}
	.list_of_likes.no_comment_above { border-top: 1px solid #222 !important; }
	.list_of_likes .picto { float: left; display: inline-block; width: 68px; text-align: center; line-height: 1em; }
	.list_of_likes p { margin-left: 73px; margin-bottom: 0px; }

.list_of_likes.feed { background-color: #222; border-bottom: 0; border-top: 1px solid #2A2A2A; }
	.list_of_likes.feed.no_comment_below { border-bottom: 1px solid #2A2A2A !important; }
	.list_of_likes.feed .picto { float: left; display: inline-block; width: 36px; text-align: center; line-height: 1em; }
	.list_of_likes.feed p { margin-left: 43px; margin-bottom: 0px; }


/*	OP
	------------------	*/

.op {
	margin: 30px 0 10px 0;
	padding: 10px;
	border-top: 1px solid #222;
	background-color: #272727;
	-webkit-box-shadow: inset 0 0 2px #111;
}


/*	Aside
	------------------	*/

aside {}
	aside h1 { font-size: 14px; color: #999; font-weight: normal; font-size: 12px; text-shadow: 0 1px 0 #222; }
	aside p, aside blockquote, aside li, aside li a { font-size: 13px; line-height: 16px; color: #BBB; }
	aside a { color: #CCC; }


/*	Buttons
	------------------	*/

.btn {
	display: inline-block;
	width: auto;
  padding: 0.25em 1em;
  line-height: 1.5em;
	background-color: #222;
	background-image: -webkit-linear-gradient(top, #444, #111);
	background-image: -moz-linear-gradient(top, #444, #111);
	background-image: -ms-linear-gradient(top, #444, #111);
	background-image: -o-linear-gradient(top, #444, #111);
	background-image: linear-gradient(top, #444, #111);
  border: 0px solid #333;
  text-shadow: 0 0 2px #300;
	-webkit-box-shadow: 1px 1px 3px #000;
	-moz-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

	.btn:hover {
		background-color: #111;
	  background-image: -webkit-gradient(linear, left top, left bottom, from(#272727), to(#000));
	}
	.btn.disabled, .btn.inactive {
		color: #777;
	  background-image: none;
	  -webkit-box-shadow: none;
	  text-shadow: none;
	}
	.btn.medium { padding: 0.5em 1em; font-size: 16px; }
	.btn.large { padding: 0.4em 1em; font-size: 20px; }
	.btn.long { width: 100%; text-align: center; }

	.btn.weak {
	  -webkit-box-shadow: 1px 1px 1px #000;
	  -moz-box-shadow: 1px 1px 1px #000;
	  box-shadow: 1px 1px 1px #000;
		background-color: #171717;
	  background-image: -webkit-linear-gradient(top, #444, #222);
	  background-image: -moz-linear-gradient(top, #444, #222);
	  background-image: linear-gradient(top, #444, #222);
		color: #AAA;
	}

.btn.support { background-image: -webkit-gradient(linear, left top, left bottom, from(#A00), to(#700)); }
.btn.support:hover { background-image: -webkit-gradient(linear, left top, left bottom, from(#800), to(#500)); }

.btn:active { position: relative; top: 1px; -moz-box-shadow: 1px 1px 1px #1B1B1B; -webkit-box-shadow: 1px 1px 1px #1B1B1B; box-shadow: 1px 1px 1px #1B1B1B; }

/*	View More & View New
	------------------	*/

.view_more_processing, .view_more { display: block; }
.view_more {
	padding: 10px 0;
	border: 1px solid #3A3A3A;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #272727;
	background-image:
		-webkit-gradient(linear, left top, left bottom,
			from(#222),
			color-stop(0.5, #303030),
			color-stop(0.5, #303030),
			to(#222));
	-moz-box-shadow: 1px 1px 1px #111;
	-webkit-box-shadow: 1px 1px 1px #111;
	box-shadow: 1px 1px 1px #111;
	color: #AAA;
	line-height: 1em;
	text-align: center;
	font-size: 13px;
	text-shadow: #111 -1px 0px 1px;
	text-decoration: none;
}
	a.view_more:active { position: relative; top: 1px; -moz-box-shadow: 1px 1px 1px #1B1B1B; -webkit-box-shadow: 1px 1px 1px #1B1B1B; box-shadow: 1px 1px 1px #1B1B1B; }


.view_new, .view_new_fixed {
	background-color: #333;
	text-decoration: none;
	color: #AAA;
	-moz-box-shadow: 1px 1px 1px #111;
	-webkit-box-shadow: 1px 1px 1px #111;
	box-shadow: 1px 1px 1px #111;
	text-shadow: #111 -1px 0px 1px;
	font-size: 13px;
}

.view_new {
	display: block;
	border-top: 1px solid #3A3A3A;
	border-bottom: 1px solid #3A3A3A;
	padding: 8px 0;
	line-height: 1em;
	text-align: center;
}
	a.view_new:active { position: relative; top: 1px; -moz-box-shadow: 1px 1px 1px #1B1B1B; -webkit-box-shadow: 1px 1px 1px #1B1B1B; box-shadow: 1px 1px 1px #1B1B1B; }

.view_new_fixed {
	display: inline-block;
	position: fixed;
	bottom: 15px;
	right: 15px;
	padding: 5px 10px;
	border: 1px solid #3A3A3A;
	-moz-box-shadow: 1px 1px 1px #111;
	-webkit-box-shadow: 1px 1px 1px #111;
	box-shadow: 1px 1px 1px #111;
	z-index: 5;
}
	a.view_new:hover, .view_new_fixed:hover { background-color: #272727;}

.view_new_processing { padding: 10px 0; margin-bottom: 9px; }


/*	Ad Unit
------------------	*/

.ad_unit_v2 {
	border-top: 1px solid #272727;
	border-bottom: 1px solid #272727;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
 	text-align: center;
	margin-bottom: 30px;
}
	.ad_unit_v2 header h4 {
		margin: 4px 0;
		text-transform: uppercase;
		font-size: 9px;
		font-weight: normal;
	}
		.ad_unit_v2 header h4 a { color: #555; text-decoration: none; }

	.ad_unit_v2 a:hover { background-color: transparent; }
	.ad_unit_v2 a.ad { display: block; margin: 0; padding: 0; }


/*	Header
------------------	*/

#navigation_bar {
	display: block;
	position: relative;
	background-color: #000;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#000));
	margin-bottom: 20px;
	padding: 11px 0 7px 0;
	color: #CCC;
	-webkit-box-shadow: rgba(0, 0, 0, 0.496094) 0px 1px 2px;
	/* -moz-box-shadow: rgba(0, 0, 0, 0.496094) 0px 1px 2px; // commented out because FF3.6 does has horizontal scrolling with this fir*/
	box-shadow: rgba(0, 0, 0, 0.496094) 0px 1px 2px;
}
	#navigation_bar a { color: #DDD;	text-decoration: none; }
	#navigation_bar a:hover { color: #FFF !important;	text-decoration: none; background-color: transparent; }
	#navigation_bar a:hover .picto { color: #FFF; }

	/* LOGO */
	#navigation_bar h1 {
		float: left;
		width: 94px;
		font-size: 1.4em;
		font-weight: normal;
		font-family: Georgia;
		line-height: 1em;
	}
		#navigation_bar h1 .picto {
			position: relative;
			bottom: 2px;
			margin-left: 5px;
			font-size: 0.75em;
			line-height: 0.5em;
			color: #CCC;
		}

	/* LISTS */
	#navigation_bar ul { float: left; }
		#navigation_bar ul.horizontal { float: left; list-style: none; margin: 0; padding: 0; display: inline; }
			#navigation_bar ul.horizontal > li { float: left; display: inline; position: relative; }
		#navigation_bar ul.vertical { list-style: none; margin: 0; padding: 0; }
			#navigation_bar ul.vertical > li { display: block; position: relative; }

	/* SECTIONS */
	#navigation_bar ul.sections {}
		#navigation_bar ul.sections li a {	padding: 10px 10px;	}
		#navigation_bar ul.sections li.longer { display: none; }
		#navigation_bar ul.sections li.shorter { display: inline; }
		@media screen and (min-width: 1188px) {
			.flexible #navigation_bar ul.sections li.longer { display: inline; }
			.flexible #navigation_bar ul.sections li.shorter { display: none; }
		}

	/* MESSAGING */
	#navigation_bar .messaging { float: right !important; margin-right: 25px !important; }
		#navigation_bar .messaging li {}
			#navigation_bar .messaging li a { padding: 7px; color: #777; }
			#navigation_bar .messaging li.new a { color: #CCC; }
		#navigation_bar .messaging .inbox .picto { font-size: 1.5em;	}
		#navigation_bar .messaging .requests { border-top: none; }
		#navigation_bar .messaging .requests .picto { font-size: 2.2em; }
		#navigation_bar .messaging .admin .picto {	position: relative;	bottom: 2px; }
		#navigation_bar .messaging li .count {
			display: none;
			position: absolute;
			z-index: 2;
			top: -5px;
			color: #CCC;
			font-size: 0.75em;
			line-height: 0.75em;
			background-color: #700;
			padding: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
		}
			#navigation_bar .messaging li.inbox .count { left: 20px; }
			#navigation_bar .messaging li.requests .count { left: 25px; }
			#navigation_bar .messaging li.ats .count { left: 15px; }
			#navigation_bar .messaging li.new .count { display: inline; }

	/* PROFILE */
	#navigation_bar ul.profile { float: right; margin-right: 15px; width: auto; }
	#navigation_bar ul.profile li a { padding: 5px 10px 2px 10px; }
		#navigation_bar ul.profile .nickname {
			display: inline-block;
			max-width: 95px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			text-align: right;
		}
	#navigation_bar ul.profile li a:hover, #navigation_bar ul.profile a.open { background-color: #000; }
	#navigation_bar ul.profile li.nojs:hover ul { display:block; }
	#navigation_bar ul.profile ul {
		display: none;
		position: absolute;
		left: 0;
		z-index: 50;
		width: 160px;
		background-color: #000;
		font-size: 0.85em;
		-webkit-box-shadow: 2px 2px 4px #111;
		-moz-box-shadow: 2px 2px 4px #111;
		box-shadow: 2px 2px 4px #111;
		padding: 5px 0 0 0;
	}
	#navigation_bar ul.profile li span.or {
		position: relative;
		bottom: 1px;
		margin-left: 3px;
		font-size: .75em;
		line-height: .75em;
	}
		#navigation_bar ul.profile ul li a {
			display: block;
			padding: 4px 10px !important;
		}
			#navigation_bar ul.profile ul li a:hover { color: #FFF; background-color: #700; }
				#navigation_bar ul.profile ul li a:hover .picto { color: #FFF; }
		#navigation_bar ul.profile ul li.seperator a { border-top: 1px solid #272727; }
		#navigation_bar ul.profile ul li.support a { font-style: italic; }

	#navigation_bar ul.profile ul .picto {
		position: relative;
		color: #777;
		bottom: 1px;
		font-size: 1em;
		margin-right: 8px;
	}

	/* SEARCH */
	#navigation_bar form.global_search { float: right; }
		#navigation_bar form.global_search input {
			width: 120px;
			position: relative;
			top: -2px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 20px;
			border-radius: 5px;
			font-size: 13px;
			line-height: 13px;
		}

/* NOT LOGGED IN */
.not_logged_in h1 {	font-size: 2.2em !important; }
.not_logged_in p { line-height: 1.2em !important; }
.not_logged_in nav a { text-decoration: underline !important; }

/* BANNER LIVE */
.blive {}
	.blive a {
		display: block;
		background-color: #900;
		padding: 5px 0;
		text-decoration: none;
	}
	.blive a:hover { background-color: #700; }

.hiring {}
	.hiring a {
		display: block;
		background-color: #700;
		padding: 5px 0;
		text-decoration: none;
	}
	.hiring a:hover { text-decoration: none; background-color: #500; }


/*	PAGINATION
	------------------	*/

.pagination {
	text-align: center;
	color: #BBB;
}
	.pagination a { color: #BBB; }


/*	TABS
	------------------	*/

.tabs { list-style: none; border-bottom: 1px solid #444; margin: 0; padding: 0; }
	.tabs li { display: inline-block; }
		.tabs li a {
			position: relative;
			top: 1px;
			display: inline-block;
			text-decoration: none;
			border: 1px solid #444;
			border-bottom: 1px solid #444;
			padding: 4px 13px;
			font-size: 14px;
			margin-right: 3px;
			color: #888;
			background-color: #1D1D1D;
		}
		.tabs li.secondary a {
			top: 3px;
			padding: 2px 8px;
			font-size: 13px;
			margin-right: 0;
			background-color: #191919;
			color: #666;
		}
		.tabs li.selected a {
			color: #DDD;
			background-color: #1B1B1B;
			font-weight: bold;
			border-bottom: 1px solid #1B1B1B;
		}

		.tabs .count {
			display: inline-block;
			background-color: #700;
			font-size: 10px;
			padding: 0 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			color: #DDD;
		}


/* 	PULLDOWN
------------------	*/

.pdv {
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

	.pdv li { position: relative; padding: 0 5px; margin: 0; }
		.pdv li a { text-decoration: none; }
		.pdv > li > a { display: none; color: #777; }

		.pdv ul {
			display: none;
			position: absolute;
			top: 18px;
			right: 0;
			width: 300px;
			margin: 0;
			padding: 3px 0;
			background-color: #333;
			list-style: none;
			text-align: left;
			-webkit-border-radius: 3px; -webkit-border-top-right-radius: 0;
			-moz-border-radius: 3px; -moz-border-radius-topright: 0;
			border-radius: 3px; border-top-right-radius: 0;
		}
			.pdv ul li { padding: 0; }
			.pdv ul li.seperator { border-top: 1px solid #444; }
				.pdv ul li a {
					display: block !important;
					padding: 3px 15px;
				}
					.pdv ul li a:hover { display: block; background-color: #111; }

.pdv.open {
	background-color: #333; display: block;
	-moz-box-shadow: 3px 3px 3px #111;
	-webkit-box-shadow: 3px 3px 3px #111;
	box-shadow: 3px 3px 3px #111;
}
	.pdv.open li a { background-color: #333; display: inline-block; color: #DDD;}
		.pdv.open ul {
			display: block;
			-moz-box-shadow: 3px 3px 3px #111;
			-webkit-box-shadow: 3px 3px 3px #111;
			box-shadow: 3px 3px 3px #111;
		}


/*	Modal Container
	------------------	*/

.ui-dialog {
  padding: 15px;
  background-color: #1B1B1B;
  border: 15px solid #222;
  overflow: auto;
  text-align: left;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}
	.ui-dialog .ui-dialog-titlebar { margin-bottom: 15px; }
		.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
			display: inline;
			margin-bottom: 10px;
			border-bottom: 2px solid #272727;
			padding: 0 30px 3px 000;
			font-size: 1.3em;
			font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
			color: #555;
			text-shadow: 0 -1px 0 #000;
			font-weight: normal;
		}
		.ui-dialog-titlebar .ui-dialog-title:before {
			position: relative;
			font-family: 'Pictos', sans-serif;
			line-height: 0.5em;
			color: #555;
			font-weight: normal;
			margin-right: 5px;
			text-shadow: 0 -1px 0 #000;
		}
		.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
			display: block;
			float: right;
			color: #777;
			text-decoration: none;
			font-size: 0.95em;
		}
			.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close:before {
				font-family: 'Pictos', sans-serif;
				content: "*";
				margin-right: 2px;
				color: #555;
			}
			.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close:hover { text-decoration: underline; }

.ui-widget-overlay {
  background-color:#000;
 	position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.60;
  -moz-opacity: 0.60;
	filter: alpha(opacity = 60);
}


/*	Flag
			(extend Modal Container)
	------------------	*/

.flag {}

	/* Overide Modal Defaults */
	.flag .ui-dialog-titlebar .ui-dialog-titlebar-close { display: none; }
	.flag .ui-dialog-titlebar .ui-dialog-title:before { content: "!"; }

	/* General */
	.flag p { font-size: 0.95em; }
	.flag ul { list-style: none; margin: 0;	padding: 0;	}
		.flag ul li {	padding: 0 0 10px 0; }
	.flag dl { font-size: 0.95em; }
		.flag dl dt {	float: left; width: 10px;	margin-bottom: 10px; }
		.flag dl dd { float: left; width: 445px; margin-bottom: 15px; }

	/* Form */
	.flag form {}
		.flag form textarea {
			display: block;
			width: 100%;
			height: 72px;
			margin-bottom: 15px;
		}

	/* Footer */
	.flag .footer {
		position: absolute;
		width: 475px;
		bottom: 15px;
		right: 15px;
		margin: 0;
		padding: 0;
	}
		.flag .footer a.btn { float: right; }
		.flag .footer .processing { float: right; color: #777; font-style: italic; }
		.flag .footer a.cancel {
			float: right;
			position: relative;
			top: 6px;
			color: #777;
			font-size: 0.85em;
			margin-right: 10px;
			text-decoration: none;
		}
		.flag .footer a.back, .flag .footer a.copyright {
			float: left;
			position: relative;
			top: 6px;
			color: #777;
			font-size: 0.85em;
		}


/*	TipTip
	------------------	*/

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_content {
	border: 1px solid rgba(0,0,0,0.25);
	background-color: #444 !important;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 3px #222;
	-moz-box-shadow: 0 0 3px #222;
	box-shadow: 0 0 3px #222;
	padding: 1px 3px !important;
	font-size: 13px;
	color: #EEE;
	text-shadow: 0 0 1px #000;
	text-align: center;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top { padding-bottom: 5px; }
#tiptip_holder.tip_bottom { padding-top: 5px; }
#tiptip_holder.tip_right { padding-left: 5px; }
#tiptip_holder.tip_left { padding-right: 5px; }

#tiptip_holder.tip_top #tiptip_arrow { border-top-color: #000; border-top-color: rgba(0,0,0,0.35); }
#tiptip_holder.tip_bottom #tiptip_arrow { border-bottom-color: #000; border-top-color: rgba(0,0,0,0.35); }
#tiptip_holder.tip_right #tiptip_arrow { border-right-color: #000; border-top-color: rgba(0,0,0,0.35); }
#tiptip_holder.tip_left #tiptip_arrow { border-left-color: #000; border-top-color: rgba(0,0,0,0.35); }

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: #444;
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: #444;
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: #444;
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: #444;
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#tiptip_content { padding: 10px 15px; background-color: #444; }
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { border-bottom-color: #444; }
	#tiptip_holder.tip_top #tiptip_arrow_inner { border-top-color: #444; }
}

/* FetLife Mods to TipTip */
a.tiptiphelp {
	position: relative;
	bottom: 1px;
	font-family: 'Pictos', sans-serif;
	content: "?";
	color: #777;
	text-decoration: none;
	font-size: 0.95em;
	line-height: 0.5em;
	cursor: help;
}
	a.tiptiphelp:hover { background-color: inherit; text-decoration: none; }


/* 	REQUESTS
------------------	*/

.requests { border-top: 1px solid #222; }
	.requests td {
		border-bottom: 1px solid #222;
		padding-top: 10px;
		padding-bottom: 10px;
	}
		.requests td.info {
			width: 500px;
			padding-left: 5px;
			padding-right: 15px;
		}
		.requests td.actions {
			text-align: center;
		}

	.requests .accepted td {
		border-top: 1px solid #333;
		border-bottom: 1px solid #333;
		background-color: #222;
		padding-top: 5px;
		padding-bottom: 5px;
	}

.badge {
	display: inline-block;
	background-color: #111;
	padding: 3px 5px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	line-height: 1em;
	color: #BBB;
}
	.badge.accepted { background-color: #040; }
	.badge.rejected { background-color: #600; }


/* 	MAILBOX
------------------	*/

.mailbox { border-top: 1px solid #232323; }
	.mailbox td { border-bottom: 1px solid #232323; padding: 10px 0; }

	.mailbox td.from { width: 215px; padding-top: 11px; color: #BBB; }
		.mailbox td.from a { color: #BBB; }

		.mailbox td.from span { width: 170px; }
		.mailbox td.from span:first-child { margin-top: 4px; }

	.mailbox td.message { width: 410px; }
		.mailbox td.message a { display: block; width: 410px; text-decoration: none; background-color: transparent; }
			.mailbox td.message:hover { cursor: pointer; }
			.mailbox td.message:hover a { text-decoration: underline; cursor: pointer; }
		.mailbox td.message p { width: 410px; }

	.mailbox td.datetime { width: 110px; text-align: right; }

	.mailbox .unread td { background-color: #070707; }
	.mailbox .unread td .subject { font-weight: bold; }
	.mailbox .read td.from, .mailbox .read td .nickname { color: #777; }
	.mailbox .read td .subject { color: #BBB; }


/* 	MESSAGES
------------------	*/

.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

.errorExplanation { padding:.8em;margin-bottom:1em;border:2px solid #ddd; background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4; }
	.errorExplanation h2 { font-size: 14px; line-height: 18px; }

.inactive { background-color: #993399; }


/* 	ACTIVITY FEED
------------------	*/

.af { border-bottom: 1px solid #222; }
	.af td { border-top: 1px solid #222; padding: 5px 0 8px 0; }
	.af td.user { float: left; width: 46px; vertical-align: top; }
	.af td.story {
		vertical-align: top;
		width: 477px;
		overflow: hidden; text-overflow: ellipsis;
	 }
		.af td.story .brace { width: 477px; word-wrap: break-word;}
	.af td.options {
		width: 25px;
		color: #777; font-size: 12px;
		vertical-align: top;
		text-align: right;
	}
		.af .options ul {}
		.no-touch .af tr:hover .options ul li a { display: inline-block; }
		.touch .af .options ul li a { display: inline-block; }

.af.single {}
	.af.single td.type { width: 5px; }


/*	BOXES
	------------------	*/

.debos {
	-mox-box-shadow: 0px -1px 0px #141414;
	-webkit-box-shadow: 0px -1px 0px #141414;
	box-shadow: 0px -1px 0px #141414;
	background-color: #272727;
}
.boxshadow {
	-moz-box-shadow: 1px 1px 1px #000;
	-webkit-box-shadow: 1px 1px 1px #000;
	box-shadow: 1px 1px 1px #000;
	background-color: #111;
}


/* 	COUNTDOWN
------------------	*/

.countdown {
	display: inline-block;
	padding: 0 3px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	background-color: #111;
	margin-left: 1px;

}
	.countdown.close { background-color: #990; }
	.countdown.past_limit { background-color: #900; }


/* 	ADMIN BAR
------------------	*/

#admin_bar {
  background-color: #900;
  padding: 3px 0;
}
.notice_bar { background-color: #600; }
	.notice_bar a:hover { background-color: #500; }

.notice_bar2 { background-color: #006; }
	.notice_bar2 a:hover { background-color: #005; }


/* BORDERS
------------------	*/

.bad { border: 1px dotted #444; }
.bt { border-top: 1px solid #222; }
.btr5 { border-top: 5px solid #900; }
.btb5 { border-top: 5px solid #000; }
.bb { border-bottom: 1px solid #222; }
.bbr5 { border-bottom: 5px solid #900; }
.bbb5 { border-bottom: 5px solid #000; }


/* KEYBOARD SHORTCUTS
------------------	*/

.keyboard_shortcuts {
	border-top: 1px solid #272727;
	padding: 5px 15px 0 15px;
}


#im {
	position: fixed;
	bottom: 0;
	right: 0;
	left: auto;
	height: 30px;
	margin: 0;
	z-index: 1000;
}
	#im input {
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
		background-image: none !important;
		margin-bottom: 2px !important;
	}
	#im input:focus { outline: none; }

	#im .status.available { color: #0A0; }
	#im .status.invisible { color: #AA0; }
	#im .status.offline {}
	#im .closedtitle span.status { font-size: 9px; color: #777; }

	#im .list, #im .chat {
		float: left;
		position: relative;
		margin-left: 3px;
		height: 30px;
		border: 1px solid #131313;
		border-bottom: none;
		-webkit-box-shadow: 0px -1px 1px 0px rgba(15, 15, 15, .3);
		-moz-box-shadow: 0px -1px 1px 0px rgba(15, 15, 15, .3);
		box-shadow: 0px -1px 1px 0px rgba(15, 15, 15, .3);
		-webkit-border-top-left-radius: 2px;
		-webkit-border-top-right-radius: 2px;
		-moz-border-radius-topleft: 2px;
		-moz-border-radius-topright: 2px;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
	}
		#im .list .closedtitle, #im .chat .closedtitle { height: 30px; padding: 3px 10px 0 10px; color: #999; }

		#im .chat > div, #im .list > div { display: none; }
		#im .list.open > div, #im .chat.open > div {
			display: block;
			position: absolute;
			left: -1px;
			bottom: 0;
			background-color: #2A2A2A;
			border: 1px solid #131313;
			border-bottom: none;
			-webkit-box-shadow: 0px -1px 1px 0px rgba(15, 15, 15, .3);
			-moz-box-shadow: 0px -1px 1px 0px rgba(15, 15, 15, .3);
			box-shadow: 0px -1px 1px 0px rgba(15, 15, 15, .3);
			-webkit-border-top-left-radius: 2px;
			-webkit-border-top-right-radius: 2px;
			-moz-border-radius-topleft: 2px;
			-moz-border-radius-topright: 2px;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
		}
		#im .list.open > div .header, #im .chat.open > div .header {
			background-color: #151515;
			padding: 5px;
			margin-bottom: 4px;
			color: #999;
		}

	#im .list.open > div form, #im .chat.open > div form {
		position: absolute;
		padding: 0;
		bottom: 0;
	}
		#im .list.open > div form input, #im .chat.open > div form input {
			font-size: 12px;
			padding: 6px 5px 6px 22px;
			background-color: #2A2A2A;
			border: none;
			color: #DDD;
			border-top: 1px solid #222;
		}
		#im .list.open > div form .inputicon, #im .chat.open > div form .inputicon { position: absolute; left: 5px; }
		#im .list.open > div form .inputicon { top: 15px; }
		#im .chat.open > div form .inputicon { top: 15px; }

		#im span .chat div .header .closeopen:hover { background-color: #A00; color: #FFF; text-decoration:none; }

		#im .list.open > div .header, #im .chat.open > div .header { cursor: hand; cursor: pointer;	}
			#im .list.open > div .header:hover, #im .chat.open > div .header:hover { background-color: #070707;	}


	/* IM LIST */
	#im .list {	width: 190px;	background-color: #393939; }
		#im .list .closedtitle:hover { background-color: #222; }

		#im .list.open > div {
			height: 330px;
			width: 190px;
			background-color: #2A2A2A;
			overflow-y: auto;
		}
			#im .list.open > div ul.kinksters {
				margin: 0;
				padding: 0;
				list-style: none;
				height: 280px;
				overflow-y: auto;
			}
				#im .list.open > div ul.kinksters li {
					padding: 4px 10px;
					border: 0;
					margin: 0;
					color: #CCC;
				}
				#im .list.open > div ul.kinksters li:hover { background-color: #111; cursor: pointer; }
					#im .list.open > div ul.kinksters li img { padding: 0; }

					#im .list.open > div form { width: 190px; }
						#im .list.open > div form input { width: 163px; }

			#im .list.open a.gear {
				position: absolute;
				top: 0;
				right: 0;
				color: #999;
				height: 26px;
				padding: 0 6px;
				line-height: 26px;
				z-index: 2001;
                                font-size: 8px;
			}
					#im .list.open a.gear:hover, #im .list.open a.gear.open { background-color: #600; color: #FFF; }
			#im .list.open .settings {
				position: absolute;
				background-color: #600;
				top: 24px;
				right: -2px;
				z-index: 2000;
				list-style: none;
				width: 90px;
				padding: 0;
				margin: 0;
				border: 1px solid #300;
				-webkit-box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.5);
				-moz-box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.5);
				box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.5);
			}

	/* IM CHAT */
	#im .chat {	width: 120px;	background-color: #2A2A2A; }
		#im .chat .closedtitle { width: 93px;}
		#im .chat .closedtitle:hover { background-color: transparent; }
		#im .chat:hover { background-color: #222; }
		#im .chat a.close {
			position: absolute;
			bottom: 7px;
			right: 5px;
			color: #999;
			padding: 2px;
		}
			#im .chat a.close:hover { background-color: #A00; color: #FFF; }
		#im .chat .newmsgcnt {
			position: absolute;
			top: -8px;
			right: 20px;
			color: #FFF;
			background-color: #900;
		}

		#im .chat.open { width: 250px; }
		#im .chat.open > div {
			height: 250px;
			width: 250px;
			background-color: #2A2A2A;
		}
			#im .chat-box.open > div .header {
				cursor: hand;
				cursor: pointer;
			}
			#im .chat.open > div .header .closeopen {
				color: #999;
				padding: 2px;
			}
		#im .chat.open .thread {
			height: 185px;
			overflow-y: auto;
			padding: 0 5px;
			word-wrap: break-word;
		}

		#im .chat.open > div ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
			#im .chat.open > div ul li {
				border-top: 1px solid #444;
				padding: 5px 0;
			}

				#im .chat.open > div ul li .tictoc {
                                        display: none;
					position: absolute;
					top: -7px;
					right: 0;
					background-color: #2A2A2A;
				}
				#im .chat.open > div ul li:hover .tictoc {
                                        display: inline;
                                }


		#im .chat.open > div form {
			width: 240px;
			position: absolute;
			bottom: 0;
		}
			#im .chat.open > div form input {
				width: 223px;
				font-size: 12px;
				padding: 6px 5px 6px 22px;
				background-color: #2A2A2A;
				border: none;
				color: #DDD;
				border-top: 1px solid #222;
			}

		#im .chat.open > div form { width: 240px;	}
			#im .chat.open > div form input { width: 223px;	}

/*	PERF-CONSOLE
	------------------	*/

.perf-console {
	padding: 11px 0 13px 0;
	background: #000 url('/images/performance_console/carbon_fibre.png') repeat left top;
	-webkit-box-shadow: inset 0px -1px 8px 1px rgba(1, 1, 1, .6);
	box-shadow: inset 0px -1px 8px 1px rgba(1, 1, 1, .6);
}
	.perf-console .branch {
		background-color: #1A1A1A;
		padding: 3px 8px;
		-webkit-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .5);
		box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .5);
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}

	.perf-console .details { margin: 20px 0 30px 0;	}

	.perf-console table {
		width:90%;
		margin: 0 auto;
		border-spacing: 2px;
		-webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .5);
		box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .5);
	}
		.perf-console table th, .perf-console table td {
			border-bottom: 2px solid rgba(0,0,0,0);
			padding: 4px 10px 4px 5px;
		}
		.perf-console table th { background-color: rgba(0, 0, 0, .6) }
		.perf-console table td { background-color: rgba(0, 0, 0, .2); vertical-align: top; }

#notifications {
  position:fixed;
  bottom: 20px;
  left: 20px;
}

  #notifications .notification {
    display:block;
    position:relative;
    border-radius: 5px;
    border: 1px solid #272727;
    padding: 10px;
    width: 200px;
    font-size: 12px;
    color: #999;
    margin-top: 5px;
    background-color: #171717;
  }

  #notifications .notification:hover {
    text-decoration: none;
    background-color: #000;
  }


/*html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 40px;
}*/

/*	Kinky&Popular
	------------------	*/

.kpg {}
	.kpg .info {
		display: none;
		position: absolute;
		bottom: 5px;
		left: 5px;
		width: 240px;
		padding: 5px;
    background-color: #000;
		background-color: rgba(0,0,0,0.5);
		text-align: left;
	}
	.kpg a:hover .info { display: block; }


/*	@You
	------------------	*/

.icomment:hover .on_hover { display: inline; }


/* bar between new and old */
.bbno {
	display: block;
	background-color: #333;
	height: 5px;
	margin: 15px 0 12px 0;
	text-align: center;
}
	.bbno span {
		display: inline-block;
		position: relative;
		bottom: 9px;
		padding: 0 5px;
		background-color: #1B1B1B;
		font-size: 12px;
		color: #777;
		text-transform: uppercase;
	}



/*	BOXES
	------------------	*/

/* Big Border Box */
.bbb {
	border: 15px solid #222;
	padding: 15px;
}

/* Support Box */
.sb {
	border: 15px solid #111;
	padding: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.rb {
	padding: 10px;
	background-color: #171717;
}

.rcb {
	padding: 10px;
	background-color: #171717;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
	.rcb.light { background-color: #272727; }

/* VERTICAL LINE SEPERATION */
.vls { border-bottom: 1px solid #222;}
.vls.top { border-top: 1px solid #222;}

/* MEDIA BOX */
.mb.s256 {
	position: relative;
	width: 256px;
}

.mb.s256 .media {
	display: table;
	width: 256px;
	height: 256px;
	background-color: #171717;
}
	.mb.s256 .media a {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		line-height: 0;
	}
		.mb.s256 .media a:hover { background-color: transparent; }

	.mb.s256 .media a img {
		padding: 10px;
		max-width: 236px;
		max-height: 236px;
	}
	.mb.s256 .obr {
		display: none;
		position: absolute;
		top: 233px;
		right: 5px;
		z-index: 5;
		background-color: #111;
		background-color: rgba(11, 11, 11, 0.7);
		padding: 1px 5px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	.mb:hover .obr { display: inline-block; }


.load-hidden { display: none; }

