{% extends "templates/base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Welcome to FeedEater</h1>
    <p>FeedEater consumes the Fetish Storm!</p>
    <p><a class="btn btn-primary btn-lg" href="https://github.com/wizardbeard/fetish-storm">GitHub Repo &raquo;</a></p>
  </div>

  <div class="row-fluid">
    <div class="span8">
    {{content|safe}}
    </div>

    <div class="span8" id="feed">
        {% for item in feed-data %}

        <!--<p>{{item}}</p>-->

            {% for u in item %}

                <!--<p>{{u.user}} {{u.action}} {{u.status}}</p>-->
                <h3>
                    {% ifequal u.user "" %}
                        Upates:
                    {% else %}
                        {{u.user}}'s Updates:
                    {% endifequal %}
                </h3>

                <script>
                    console.log("-----> u: {{u.user}}");
                </script>

                    {% for k in u %}
                        {{k}}
                        <script>
                            console.log("-----> k: {{k}}");
                        </script>
                    {% endfor %}

            {% endfor %}

        {% endfor %}
    </div>

    <!--<div class="span8" id="feed">
        {% for item in feed-data %}
            {% for x in item%}

                <p>{{x.user}} {{x.action}} {{x.status}}.</p>

                    {% for y in x %}

                        <p>{{y}}</p>

                            {% for z in y %}

                                <p>{{z}}</p>

                            {% endfor %}

                    {% endfor %}

            {% endfor %}
        {% endfor %}
    </div>-->

    <script>

        var objFeedData = {{feed-data|json|safe}};

        console.log(objFeedData);

    </script>
  </div>
{% endblock %}
