{% extends "templates/base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Welcome to FeedEater</h1>
    <p>FeedEater consumes the Fetish Storm!</p>
    <p><a class="btn btn-primary btn-lg" href="https://github.com/wizardbeard/fetish-storm">GitHub Repo &raquo;</a></p>
  </div>

  <div class="row-fluid">
    <div class="span8">
    {{content|safe}}
    </div>

    <div class="span8" id="feed">

    </div>

    <script>

        var objFeedData = {{feed-data}};

        console.log(objFeedData);

    </script>
  </div>
{% endblock %}
