<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Welcome to feed-eater</title>
    <link rel="stylesheet" href="/static/site.css" />
  </head>
  <body>

    <header id="navigation_bar">
        <div class="flexible_container">
          <nav>
            <h1><a href="/">FeedEater</a></h1>
            <ul class="horizontal sections">
              <li class="shorter"><a href="/about">About</a></li>
              <li class="shorter"><a href="/feed">Feed</a></li>
              <li class="shorter"><a href="/user/login">Login</a></li>
              
              {% if feed_eater_erlang_user %}
              <li class="shorter"><p>Hello, {{feed_eater_erlang_user.username}}!</p></li>
              {% endif %}
                              
              {% if not feed_eater_erlang_user %}
              <li class="shorter"><a href="/user/register">Register</a></li>
              {% endif %}

            </ul>
          </nav>
        </div><!-- /.flexible_container -->
    </header>
    
    {% if feed_eater_erlang_user %}
    <p>Hello, {{feed_eater_erlang_user.username}}!</p>
    {% endif %}

    {% if not feed_eater_erlang_user %}
    <p>You should <a href="/user/register">Register</a>.</p>
    {% endif %}

    <!--
    <div class="content-container">
      <div class="container">

  	<div class="jumbotron">
    	  <h1>Welcome to FeedEater</h1>
    	  <p>FeedEater consumes the Fetish Storm!</p>
    	  <p><a class="btn btn-primary btn-lg" href="https://github.com/wizardbeard/fetish-storm">GitHub Repo &raquo;</a></p>
  	</div>

  	<div class="row-fluid">
    	  <div class="span8">
    	    {{content|safe}}
    	  </div>
  	</div>

      </div>
    </div>
    -->

    {% block content %}{% endblock %}

    <!-- scripts and styles -->
    <script src="//code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
    {% script "/js/bootstrap.min.js" %}
    {% script "/js/site.js" %}
    <script type="text/javascript">
    </script>
  </body>
</html>
